contracts/artifacts/exampleSoft_metadata.json
contracts/artifacts/exampleSoft.json
contracts/artifacts/ISignature_metadata.json
contracts/artifacts/ISignature.json
contracts/artifacts/Licencias_metadata.json
contracts/artifacts/Licencias.json
contracts/artifacts/LicenseTaxPayer_metadata.json
contracts/artifacts/LicenseTaxPayer.json
contracts/artifacts/build-info/0d23545e861aa5aef095375990d7d131.json
contracts/artifacts/build-info/1a32a305ceacce561b228948e015a02d.json
contracts/artifacts/build-info/8d3ca0c4f0e7c8cdfdc9c95d59003c70.json
contracts/artifacts/build-info/a02277de7ddbe0927d3db9497443765c.json
contracts/artifacts/build-info/d07e85b8c9dffbf56dd662cbeb7dccdd.json
node_modules
cache/
artifacts/
contracts/artifacts
contracts/artifacts/SigatTokenX.json
contracts/artifacts/SigatTokenX.json
contracts/artifacts/SigatTokenX_metadata.json
